{% load cms_tags %}
{% load compress %}
{% load menu_tags %}
{% load sekizai_tags %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% page_attribute "page_title" %}</title>

        {% render_block "css" %}

        {% compress css %}
            <link rel="stylesheet" type="text/scss" href="/static/tkdgarching/scss/tkdgarching.scss">
        {% endcompress %}
    </head>
    <body>
        {% cms_toolbar %}

        {% block menu %}
            <ul>
                {% show_menu %}
            </ul>
        {% endblock %}

        {% block language_chooser %}
            <ul>
                {% language_chooser %}
            </ul>
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% static_placeholder "contact" %}
        {% endblock %}

        {% render_block "js" %}
    </body>
</html>
